*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}
body{
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36, .7) 0%, rgba(125,194,170, .7) 35%, rgba(0,212,255, .7) 100%), url(forest.jpg);
    background-size: cover;
    background-position: center;
    
}
img{
  height: 80px;
}
h1, h2{
    color: #fff;
}
